.box {
	position: absolute;
	width: 100vw;
	height:100vh;
	top:0;
	left:0;
	// aspect-ratio: 16/9;
	// image-rendering: pixelated;
	background: linear-gradient(to top, black, blue);
	display: grid;

	&::after {
		background: url('/images/marble.jpg');
		position: absolute;
		width: 100%;
		height: 100%;
		content: "";
		opacity: 0.019;
	}
}

.navbar {
	z-index: 2;
	// position: absolute
	bottom: 0;
	display: grid;
	place-self: end;
	width: 100%;
	height: 25%;
	grid-template-columns: repeat(4, calc(calc(25% - calc(3 * 5%)) * 2));
	grid-template-rows: 100%;
	grid-gap: 6.3%;
	transform: rotate(180deg);
	&>* {
		transform: rotate(180deg);
		position: relative;
		display: grid;
		place-content: center;
		width: 100%;
		height: 100%;
		// background: silver
		display: inline-block;
		text-align: center;
		border: 5px solid transparent;
		color: white;
		border-color: white transparent transparent transparent;
		transition: height 150ms ease;

		&>img.icon {
			width: 50%;
			aspect-ratio: 1;
			// background: red;
		}
	}

	&>*:hover {
		height: 125%;
	}
}


.disabledLink{ 
	:link {
		text-decoration: none;
	}
	:visited {
		text-decoration: none;
	}
	:hover {
		text-decoration: none;
	}
	:active {
		text-decoration: none;
	}
}
