@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --accent: hsl(215, 66%, 52%);
    --accent-hover: hsl(
      from var(--accent) h s clamp(0, calc(l + 30), 100)
    );
  }
}
